# default binary
binary globes-discovery-s

# default settings for 50x50 grid 
arguments -X-3.5,-1
arguments -Y-180,180
arguments -R20,21
arguments -x-6,-0.5
arguments -y-180,180
arguments -r70,40

# oscillation parameters
arguments -p0.57964,0.0,0.785398,0,0.000079,-0.002288

# error on the solar parameters
arguments -s0.04

# error on atm parameters
arguments -T0.1 -a0.1

# error on density
arguments -d0.02

# use fast minimizer
arguments -F

glb LBNE-anu-200kt-docdb2511.glb  LBNE-nu-200kt-docdb2511.glb

pieces 20
